[submodule "Assembly/pokered"]
	path = Assembly/pokered
	url = https://github.com/pret/pokered.git
[submodule "Assembly/rgbds-template"]
	path = Assembly/rgbds-template
	url = https://github.com/nezticle/rgbds-template.git
[submodule "Assembly/DKGBDisasm"]
	path = Assembly/DKGBDisasm
	url = https://github.com/CelestialAmber/DKGBDisasm.git
[submodule "Assembly/kirbydreamland"]
	path = Assembly/kirbydreamland
	url = https://github.com/huderlem/kirbydreamland.git
[submodule "Assembly/mmania"]
	path = Assembly/mmania
	url = https://github.com/froggestspirit/mmania.git
[submodule "Assembly/supermarioland"]
	path = Assembly/supermarioland
	url = https://github.com/kaspermeerts/supermarioland.git
[submodule "Assembly/marioland2"]
	path = Assembly/marioland2
	url = https://github.com/froggestspirit/marioland2.git
[submodule "Assembly/LADX-Disassembly"]
	path = Assembly/LADX-Disassembly
	url = https://github.com/zladx/LADX-Disassembly.git
[submodule "Assembly/tetris_disassembly"]
	path = Assembly/tetris_disassembly
	url = https://github.com/alexsteb/tetris_disassembly.git
[submodule "Assembly/shi-kong-xing-shou"]
	path = Assembly/shi-kong-xing-shou
	url = https://github.com/libjet/shi-kong-xing-shou.git
[submodule "Assembly/telefang"]
	path = Assembly/telefang
	url = https://github.com/telefang/telefang.git
[submodule "Assembly/poketcg"]
	path = Assembly/poketcg
	url = https://github.com/pret/poketcg.git
[submodule "Assembly/robopon"]
	path = Assembly/robopon
	url = https://github.com/PikalaxALT/robopon.git
