[submodule "Assembly/pokered"]
	path = Assembly/pokered
	url = https://github.com/pret/pokered.git
[submodule "Assembly/rgbds-template"]
	path = Assembly/rgbds-template
	url = git@github.com:nezticle/rgbds-template.git
[submodule "Assembly/LADX-Disassembly"]
	path = Assembly/LADX-Disassembly
	url = https://github.com/zladx/LADX-Disassembly.git
